In [2]:
import json, requests 
from urllib.request import urlopen
import urllib.request as url
import time
import pandas as pd
from datetime import datetime
from datetime import datetime, timezone, timedelta

In [143]:
# url = "http://140.116.179.11:9000/sensor_now"
# # url = "http://140.116.179.11:9000/get_many_sensor?num=10"
# response = urlopen(url)
# print(response.read())
# # response.text
# # print(json.loads(response.read()))
# # response.read()

b'{"temp": 22.4, "CO2": 1627, "RH": 47.7, "PM25": 0.2, "PplCnt": 5, "OccStat": 1, "LgtStat": 2, "PNO": 15570, "Ppl": [{"ID": 88, "ImgX": 394, "ImgY": 92, "ActLvl": 1}, {"ID": 114, "ImgX": 184, "ImgY": 218, "ActLvl": 2}, {"ID": 135, "ImgX": 418, "ImgY": 254, "ActLvl": 2}, {"ID": 139, "ImgX": 352, "ImgY": 282, "ActLvl": 14}, {"ID": 142, "ImgX": 432, "ImgY": 276, "ActLvl": 2}], "time": "2022-7-7-0:49:30"}'

In [ ]:
response_API = requests.get("http://140.116.179.11:9000/get_many_sensor2?num=100")
# response_API = requests.get("http://140.116.179.11:9000/sensor_now")

In [15]:
# response_API.content

In [ ]:
a = json.loads(response_API.content)

In [ ]:
# df = pd.json_normalize(data_json)

In [18]:
# data = pd.DataFrame()
for i in range(len(a)):
    #if(n%60==0):
    b = json.loads(a[i])
    if i == 0:
        df = pd.json_normalize(b)
    else:
        df2 = pd.json_normalize(b)
        df = pd.concat([df, df2])
    # data = pd.concat([data, df])

KeyboardInterrupt:

In [17]:
df

,temp,CO2,RH,PM25,PplCnt,OccStat,LgtStat,PNO,Ppl,time
0,22.2,1642,45.9,0.4,7,1,2,16154,"[{'ID': 69, 'ImgX': 178, 'ImgY': 218, 'ActLvl'...",2022-7-7-0:49:30

In [ ]:
# df.to_csv("samplecsv2.csv")

In [17]:
b = json.loads(a[0])
df = pd.json_normalize(b)

In [18]:
c = json.loads(a[1])
df2 = pd.json_normalize(c)

In [19]:
df3 = pd.concat([df, df2])
df3.to_csv("samplecsv.csv")

In [9]:
a[0]

'{"temp": 22.2, "CO2": 1691, "RH": 47.1, "PM25": 0.2, "PplCnt": 10, "OccStat": 1, "LgtStat": 2, "PNO": 15761, "Ppl": [{"ID": 177, "ImgX": 318, "ImgY": 268, "ActLvl": 12}, {"ID": 181, "ImgX": 322, "ImgY": 294, "ActLvl": 9}, {"ID": 193, "ImgX": 398, "ImgY": 334, "ActLvl": 1}, {"ID": 195, "ImgX": 406, "ImgY": 276, "ActLvl": 12}, {"ID": 200, "ImgX": 388, "ImgY": 96, "ActLvl": 3}, {"ID": 0, "ImgX": 186, "ImgY": 214, "ActLvl": 13}, {"ID": 7, "ImgX": 350, "ImgY": 284, "ActLvl": 11}, {"ID": 9, "ImgX": 210, "ImgY": 256, "ActLvl": 6}, {"ID": 11, "ImgX": 432, "ImgY": 266, "ActLvl": 8}, {"ID": 12, "ImgX": 192, "ImgY": 280, "ActLvl": 2}], "time": "2022-7-7-0:49:20"}'

In [163]:
len(a[0])

561

In [159]:
json.loads(a[0])

{'temp': 22.3,
 'CO2': 1674,
 'RH': 47.6,
 'PM25': 0.2,
 'PplCnt': 8,
 'OccStat': 1,
 'LgtStat': 2,
 'PNO': 15697,
 'Ppl': [{'ID': 88, 'ImgX': 380, 'ImgY': 94, 'ActLvl': 1},
  {'ID': 159, 'ImgX': 398, 'ImgY': 330, 'ActLvl': 9},
  {'ID': 164, 'ImgX': 372, 'ImgY': 282, 'ActLvl': 7},
  {'ID': 170, 'ImgX': 316, 'ImgY': 264, 'ActLvl': 21},
  {'ID': 173, 'ImgX': 184, 'ImgY': 202, 'ActLvl': 35},
  {'ID': 177, 'ImgX': 348, 'ImgY': 322, 'ActLvl': 9},
  {'ID': 178, 'ImgX': 358, 'ImgY': 264, 'ActLvl': 11},
  {'ID': 181, 'ImgX': 388, 'ImgY': 308, 'ActLvl': 8}],
 'time': '2022-7-7-0:49:20'}

In [37]:
from datetime import datetime

timestamp = 1546399394399
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

OSError: [Errno 22] Invalid argument

In [27]:
from datetime import datetime

In [31]:
datetime.now()

datetime.datetime(2022, 6, 22, 1, 24, 53, 909419)

In [32]:
from datetime import datetime

now = datetime.now().time() # time object

print("now =", now)
print("type(now) =", type(now))

now = 01:25:03.229729
type(now) = <class 'datetime.time'>

In [39]:
import pandas as pd

In [11]:
pd.json_normalize(data_json)

NameError: name 'data_json' is not defined

In [12]:
url = "http://192.168.1.167:3000/"
response = urlopen(url)

data_json = json.loads(response.read())
print(data_json)

current = datetime.now().isoformat()
current_time = current[:-3] + 'Z'
df2=pd.DataFrame()
df2['time'] = [current_time]

df = pd.json_normalize(data_json)
df3 = pd.concat([df2, df],axis=1)

df3.to_csv("test.csv", header = True, index = False, sep='\t')

{'Temp': '22.2', 'RH': '47.6', 'CO2': '1703', 'PM25': '0.1', 'PplCnt': 6.0, 'OccStat': 1, 'LgtStat': 2, 'PNO': 15777, 'Ppl': [{'ID': 195, 'ImgX': 322, 'ImgY': 274, 'ActLvl': 7}, {'ID': 200, 'ImgX': 384, 'ImgY': 100, 'ActLvl': 5}, {'ID': 0, 'ImgX': 186, 'ImgY': 208, 'ActLvl': 33}, {'ID': 9, 'ImgX': 206, 'ImgY': 256, 'ActLvl': 9}, {'ID': 12, 'ImgX': 180, 'ImgY': 284, 'ActLvl': 3}, {'ID': 15, 'ImgX': 418, 'ImgY': 284, 'ActLvl': 0}]}

In [171]:
while True:
    
    url = "http://192.168.1.167:3000/"
    response = urlopen(url)

    data_json = json.loads(response.read())
    print(data_json)
    current = datetime.now().isoformat()
    current_time = current[:-3] + 'Z'
    df2=pd.DataFrame()
    df2['time'] = [current_time]

    df = pd.json_normalize(data_json)
    df3 = pd.concat([df2, df],axis=1)
   
    df3.to_csv("test.csv", mode = 'a', header = False, index = False, sep='\t')
    
    time.sleep(5)

{'Temp': '26.5', 'RH': '40.5', 'CO2': '963', 'PM2.5': '4.0', 'PplCnt': 0.0, 'OccStat': 0, 'LgtStat': 0, 'PNO': 20626}
{'Temp': '26.6', 'RH': '40.5', 'CO2': '964', 'PM2.5': '4.1', 'PplCnt': 0.0, 'OccStat': 0, 'LgtStat': 0, 'PNO': 20627}
{'Temp': '26.6', 'RH': '40.5', 'CO2': '963', 'PM2.5': '4.1', 'PplCnt': 0.0, 'OccStat': 0, 'LgtStat': 0, 'PNO': 20628}
{'Temp': '26.6', 'RH': '40.5', 'CO2': '967', 'PM2.5': '4.1', 'PplCnt': 0.0, 'OccStat': 0, 'LgtStat': 0, 'PNO': 20629}
{'Temp': '26.5', 'RH': '40.5', 'CO2': '967', 'PM2.5': '4.2', 'PplCnt': 0.0, 'OccStat': 0, 'LgtStat': 0, 'PNO': 20630}

KeyboardInterrupt:

In [102]:
# 2011-02-01T08:00:00.000Z #ISO 8601

In [82]:
datetime.now().strftime("%Y-%m-%dT%H:%M:%S.%fZ")

'2022-06-22T02:11:08.276285Z'

In [81]:
datetime.now().strftime('yyyy-MM-dd' 'T' 'HH:mm:ssZ')

'yyyy-MM-ddTHH:mm:ssZ'

In [84]:
inDate = "29-Apr-2013-15:59:02"
d = datetime.strptime(inDate, "%d-%b-%Y-%H:%M:%S")
d.strftime("YYYYMMDD HH:mm:ss (%Y%m%d %H:%M:%S)")

'YYYYMMDD HH:mm:ss (20130429 15:59:02)'

In [87]:
from datetime import datetime, timezone, timedelta

# 設定為 +8 時區
tz = timezone(timedelta(hours=+8))

# 取得現在時間、指定時區、轉為 ISO 格式
current = datetime.now().isoformat()

In [100]:
current_time = current[:-3] + 'Z'

In [159]:
current_time

'2022-06-22T02:33:08.143Z'

In [134]:
time_list = ['time', current_time]

In [162]:
df2=pd.DataFrame()

In [163]:
df2['time'] = [current_time]

In [164]:
df2

                       time
0  2022-06-22T02:33:08.143Z

In [166]:
df = pd.json_normalize(data_json)

In [167]:
df

   Temp    RH  CO2 PM2.5  PplCnt  OccStat  LgtStat    PNO
0  26.6  40.2  957   4.3     0.0        0        0  20492

In [169]:
pd.concat([df2, df],axis=1)

,time,Temp,RH,CO2,PM2.5,PplCnt,OccStat,LgtStat,PNO
0,2022-06-22T02:33:08.143Z,26.6,40.2,957,4.3,0.0,0,0,20492